*{
    margin: 0px;
    padding: 0px;
}

body{
    text-align: center;
    justify-content: center;
    align-items: center;    
}

footer{
background-color: #081b31;
color: white;
height: 5rem;
line-height: 5rem;
}

.container{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.box{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.box:hover{
    cursor: pointer;
    background-color: #081b31;
}

.score-board{
    margin-top: 3rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#user-score{
    font-size: 4rem;
}
#comp-score{
    font-size: 4rem;
}
.msg-container{
margin-top: 2rem;
}
#msg{
    margin-top: 5rem;
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    border-radius: 1rem;
    padding: 1rem;
}
